
.layoutContainer{
    margin: 50px 200px;
    padding-left: 100px;
    

}

.movieCard{

    border-radius: 10px;
   
    word-wrap: break-word;
    width: 200px;
    height: 370px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.movieImg{
    border-top-left-radius: 10px;
    border-top-right-radius:  10px;
}
.imgDiv{
    border-radius: 20px;
}

.movieListContainer{
  
    margin-top:50px;
    
} 

.movieDetailBox{
    display: flex;
    flex-direction: column;
    width: 400px;
    /* height: 400px; */
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px;
}
.iconBtn{
    background:'#14436b';
    width:'40px';
    height:'40px';
 
}
.icon{
    color:'white';
    font-size:'16px';

}
.movieDetailContainer{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    padding: 30px 200px;
    margin-top: 50px;
    
}
.overviewDiv{
   
    display: none;
}
.movieBoxGradient{
    display: none;

}

@media   (max-width: 1280px) {
    .movieDetailContainer {
      height: auto;
        width: 100%;
        padding:0px;
        margin-top: 0px;
    }
  }

  @media   (max-width: 1280px) {
    .imgDiv {
      height: auto;
    width: 100%;
    border-radius: 0px;
    }
  }

  @media   (max-width: 1280px) {
    .movieCard {
        border-radius: 10px;
   
        word-wrap: break-word;
        width: 100%;
        height: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .movieImg{
        width: 90px;
        height: 140px;
        border-top-left-radius: 0px;
    border-top-right-radius:  0px;
    }
    .movieCardContainer{
        width: 100%;
        padding: 20px;
     
    }
    .overviewDiv{
        width: 100%;
        /* this code clamps based on specified lines */
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        display: -webkit-box;
    }
    .movieBoxGradient{
        display:block;
        background: rgb(2,0,36);
        background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        height: 100%;
        border-bottom-right-radius: 10px
    }
  }
 

